# Assignment: Notebook for Peer Assignment

In [1]:
import csv, sqlite3
conn = sqlite3.connect("FinalDB.db")
cursor = conn.cursor()

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv("C:/Users/lawan/Downloads/ChicagoCensusData.csv")
df2 = pd.read_csv("C:/Users/lawan/Downloads/ChicagoCrimeData.csv")
df3 = pd.read_csv("C:/Users/lawan/Downloads/ChicagoPublicSchools.csv")

In [6]:
df1.to_sql("CENSUS_DATA", conn, if_exists="replace", index=False, method="multi")
df2.to_sql("CHICAGO_CRIME_DATA",conn, if_exists="replace", index=False, method="multi")
df3.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists="replace", index=False, method="multi")

566

In [7]:
%sql SELECT name FROM PRAGMA_TABLE_INFO("CHICAGO_CRIME_DATA");

 * sqlite:///FinalDB.db
Done.

[('ID',),
 ('CASE_NUMBER',),
 ('DATE',),
 ('BLOCK',),
 ('IUCR',),
 ('PRIMARY_TYPE',),
 ('DESCRIPTION',),
 ('LOCATION_DESCRIPTION',),
 ('ARREST',),
 ('DOMESTIC',),
 ('BEAT',),
 ('DISTRICT',),
 ('WARD',),
 ('COMMUNITY_AREA_NUMBER',),
 ('FBICODE',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('YEAR',),
 ('LATITUDE',),
 ('LONGITUDE',),
 ('LOCATION',)]

In [8]:
%sql SELECT name FROM PRAGMA_TABLE_INFO("CHICAGO_PUBLIC_SCHOOLS");

 * sqlite:///FinalDB.db
Done.

[('School_ID',),
 ('NAME_OF_SCHOOL',),
 ('Elementary, Middle, or High School',),
 ('Street_Address',),
 ('City',),
 ('State',),
 ('ZIP_Code',),
 ('Phone_Number',),
 ('Link',),
 ('Network_Manager',),
 ('Collaborative_Name',),
 ('Adequate_Yearly_Progress_Made_',),
 ('Track_Schedule',),
 ('CPS_Performance_Policy_Status',),
 ('CPS_Performance_Policy_Level',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('Safety_Icon',),
 ('SAFETY_SCORE',),
 ('Family_Involvement_Icon',),
 ('Family_Involvement_Score',),
 ('Environment_Icon',),
 ('Environment_Score',),
 ('Instruction_Icon',),
 ('Instruction_Score',),
 ('Leaders_Icon',),
 ('Leaders_Score',),
 ('Teachers_Icon',),
 ('Teachers_Score',),
 ('Parent_Engagement_Icon',),
 ('Parent_Engagement_Score',),
 ('Parent_Environment_Icon',),
 ('Parent_Environment_Score',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Rate_of_Misconducts__per_100_students_',),
 ('Average_Teacher_Attendance',),
 ('Individualized_Education_Program_Compliance_Rate',),
 ('Pk_2_Literacy__',),
 ('Pk_2_Math__',),
 ('Gr3_5_Grade_Level_Math__',),
 ('Gr3_5_Grade_Level_Read__',),
 ('Gr3_5_Keep_Pace_Read__',),
 ('Gr3_5_Keep_Pace_Math__',),
 ('Gr6_8_Grade_Level_Math__',),
 ('Gr6_8_Grade_Level_Read__',),
 ('Gr6_8_Keep_Pace_Math_',),
 ('Gr6_8_Keep_Pace_Read__',),
 ('Gr_8_Explore_Math__',),
 ('Gr_8_Explore_Read__',),
 ('ISAT_Exceeding_Math__',),
 ('ISAT_Exceeding_Reading__',),
 ('ISAT_Value_Add_Math',),
 ('ISAT_Value_Add_Read',),
 ('ISAT_Value_Add_Color_Math',),
 ('ISAT_Value_Add_Color_Read',),
 ('Students_Taking__Algebra__',),
 ('Students_Passing__Algebra__',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('Net_Change_EXPLORE_and_PLAN',),
 ('11th Grade Average ACT (2011)',),
 ('Net_Change_PLAN_and_ACT',),
 ('College_Eligibility__',),
 ('Graduation_Rate__',),
 ('College_Enrollment_Rate__',),
 ('COLLEGE_ENROLLMENT',),
 ('General_Services_Route',),
 ('Freshman_on_Track_Rate__',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('Latitude',),
 ('Longitude',),
 ('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('Ward',),
 ('Police_District',),
 ('Location',)]

In [9]:
%sql SELECT name FROM PRAGMA_TABLE_INFO("CENSUS_DATA");

 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_AGED_16__UNEMPLOYED',),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PER_CAPITA_INCOME',),
 ('HARDSHIP_INDEX',)]

In [10]:
#Find the total number of crimes recorded in the CRIME table.
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [11]:
#List community areas with per capita income less than 11000.
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [12]:
#List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE "%MINOR%";

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

In [13]:
#List all kidnapping crimes involving a child?
%sql SELECT * FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE "%CHILD%";

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [14]:
#What kinds of crimes were recorded at schools?
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%";

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [15]:
#List the average safety score for each type of school.
%sql SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [16]:
#List 5 community areas with highest % of households below poverty line.
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [23]:
#Which community area is most crime prone?
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS TOTAL_CRIME FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY TOTAL_CRIME DESC LIMIT 1 ;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [24]:
#Use a sub-query to find the name of the community area with highest hardship index.
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

In [25]:
#Use a sub-query to determine the Community Area Name with most number of crimes?
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA WHERE COMMUNITY_AREA_NUMBER = 25 LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]